<%= link_to "Submit a movie", new_movie_path %><br>
<br>
    <p>Movie/Director Search</p>

      <form class="navbar-form navbar-left" role="search">
        <%= form_tag(movies_path, :method => "get", class: "navbar-form", id: "search-form") do %>
       <div class="input-append">
        <%= text_field_tag :search, params[:search], placeholder: "Search Movies/Directors" %><br>
        <%= select_tag :duration, options_for_select(["Under 90 minutes", "Between 90 and 120 minutes", "Over 120 minutes"], params[:duration]) %><br>
      <button class="btn btn-default" type="submit">Search</button>
      </div>
        <% end %>
      </form><br>


<hr>
  <% @movies.each do |movie| %>
   <% if movie.avatar? %>
    <%= link_to image_tag(movie.avatar_url(:about_page)), movie_path(movie) %>
    <% end %>
    <h2><%= link_to movie.title, movie_path(movie) %>  
    <% if movie.reviews.any? %>
      | <%=movie.review_average %>/10</h2>
    <% end %>
    <h3><%= formatted_date(movie.release_date) %></h3>
    <h4>Dir. <%= movie.director %> | <%= movie.runtime_in_minutes %> minutes</h4>
    <p><%= movie.description %></p>
    <hr>
<% end %>




   

<!--    Director (text)
Duration (Dropdown with options: )
"Under 90 minutes"
"Between 90 and 120 minutes"
"Over 120 minutes" -->