  <%= form_tag(movies_path, :method => "get", id: "search-form") do %>
    
    <div class="row">
    <div class="col-md-4">

      <label for="inputEmail" class="col-lg-2 control-label">Movie/Director</label>
      
        <div class="form-group">    
          <%= text_field_tag :search, params[:search], placeholder: "Search Movies/Directors", class: "form-control" %>
        </div>

        <div class="form-group">
          <label for="select" class="col-lg-2 control-label">Duration</label>
          <%= select_tag :duration, options_for_select(["Select a duration", "Under 90 minutes", "Between 90 and 120 minutes", "Over 120 minutes"], params[:duration]), class: "form-control", id: "select" %>
        </div>

      <div class="form-group">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
  <% end %>
    </div>
    <div class="col-md-8">
    </div>
    </div>

<%= link_to "Submit a movie", new_movie_path %><br>

<hr>

<div class="movie-slider">
  <% @movies.each do |movie| %>
  <div class="col-md-5">
    <a type="button" data-toggle="modal" data-target="#movie<%= movie.id %>">
      <%= link_to image_tag(movie.poster_image_url), movie_path(movie)%>
      <h4><%= link_to movie.title, movie_path(movie) %></h4> 
    </a> 
<!--       <% if movie.reviews.any? %>
       <h6> <%=movie.review_average %>/10</h6>
      <% end %> -->
      <h6><%= formatted_date(movie.release_date) %></h6>
    </div>
  <% end %>
</div>

 <% @movies.each do |movie| %>
  <div class="modal fade" id="movie<%= movie.id %>" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&close;</button>
          <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body">
          <p>One fine body…</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
<% end %>

<style>
    .movie-slider img {
    height: 200px;
    }
</style>

<!-- <div class="movie-slider">
   
    <% @movies.each do |movie| %>
      <% if movie.avatar? %>
        <div>
          <div class="fade">
            <a data-toggle="modal" data-target="#movie<%= movie.id %>"><%= link_to image_tag(movie.avatar_url(:about_page)) %></a>

            <span class="index-movie-title"><%= truncate(movie.title, length:20) %></span><br>
            <%= formatted_date(movie.release_date) %>
          </div>
        </div>
      <% end %>
    <% end %>
</div>
 -->
<!-- Modal -->
<!--   <% @movies.each do |movie| %>
    <div class="modal fade" id="movie<%= movie.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-6">
                <%= movie.title %>
              </div>
              <div class="col-sm-6">
                <%= movie.description %>
              </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
 -->



  